$mainWhiteGrey: #f0f2f3;
$pureWhite: rgb(255, 255, 255);
.textContent {
  font-family: Lato;
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: #8c8f94;
}
h1 {
  font-family: "Varela Round";
  font-size: 62px;
  line-height: 72px;
  font-weight: 400;
  color: #26272d;
}

body {
  justify-content: center;
  height: 100%;
  background-color: $pureWhite;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
body * {
  margin: 0;
}
#wrapper {
  header {
    border: 1px solid black;
  }
  section {
    border: 1px solid black;
  }
  footer {
    border: 1px solid black;
  }
}
.gridTwoHalfs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#wrapper {
  display: grid;
     max-width: 1650px;
  margin: auto;
  background-color: $mainWhiteGrey;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "headerBottom"
    "features"
    "iphoneFeatures"
    "mapFeacture"
    "iphone"
    "readyToBuy"
    "customers"
    "plan"
    "footer";
}
header {
  grid-area: header;
  height: 100px;
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-around;
  #rightNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }
}
#header * {
  margin-top: 1%;
}
#headerLogo {
  margin-top: 2%;
}
#header #rightNav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  li {
    margin-left: 9%;
  }
  #iphoneButtonHeader {
    list-style: none;
    a{
       color: inherit; 
       text-decoration: none;
    }
  }
}
headerBottom {
  grid-area: headerBottom;
}
#headerBottom {
  background: url(img/background_16771.png)   no-repeat center;
  background-size: cover !important;

  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  p {
    text-align: center;
  }
  button {
    width: 205px;
height: 50px;
border: 1px solid rgba(201, 201, 201, 0.5);
// border: 1px solid #26272d;
border-radius: 25px;
a{
  font-family: Lato;
font-size: 16px;
line-height: 1.2;

font-weight: 400;
color: #26272d;
}
  }
}
#headerBottom * {
  max-width: 50%;
  margin-top: 5.5%;
}
nav {
  border-bottom: 1px solid #ccc;
  background: #f1f1f1;
  display: flex;
  position: relative;
}
nav .mobile-bar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  display: none;
}
nav .mobile-bar span {
  display: block;
  height: 2px;
  width: 20px;
  margin: 2px;
  background: #888;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: ease 1s all;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: inline-block;
  color: black;
  text-decoration: none;
  padding: 0.5em 1em;
}
nav ul li a:hover {
  background: #e1e1e1;
}
#iphoneButtonHeader {
  background-color: #267df4;
  font-family: Lato;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  width: 145px;
  height: 40px;
  border-radius: 28%;
}
features {
  grid-area: features;
}
iphoneFeatures {
  grid-area: features;
}
mapFeatures {
  grid-area: mapFeatures;
}
iphoneScreens {
  grid-area: iphoneScreens;
}
readyToBuy {
  grid-area: readyToBuy;
}
customers {
  grid-area: customers;
}
plan {
  grid-area: plan;
}
subscribe {
  grid-area: subscribe;
}
footer {
  grid-area: footer;
}
@media (max-width: 480px) {
  nav .mobile-bar {
    display: flex;
  }
  nav ul {
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    visibility: none;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    flex-direction: column;
    background: #f1f1f1;
    margin-left: -100%;
  }
  nav ul.active {
    opacity: 1;
    min-height: 500px;
    right: 0;
    margin-left: 0%;
    background: #e1e1e1;
  }
  nav ul.active li {
    display: block;
  }
  nav ul.active li a {
    display: block;
  }
}
